

.header{
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    padding-left: 20px;
    background: rgba(22, 22, 22, 0.20);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(1000px);
    z-index: 1000;

}

.text{
    padding: 50px 50px;
}

.logo{
    padding-top: 200px;
    padding-left: 140px;
}

.title{
    color: #FFCB00;
    font-size: 160px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Geologica', sans-serif;
}
.header-info{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    color: white;
}
h3{
    color: white;
}